@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Fredericka+the+Great');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box
	}

logo.class {
	font-size: 6em;
	bold:6em;
	font-weight: bolder;
}

h1 {
	font-family:'Fredericka the Great',sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    display:;
 }

section {
	/*border: 1px*/
	padding: 20px;
	/*background-image: url(../images/childrenele2.JPG);
	background-repeat: no-repeat;
	background-position: center*/
}


h2{
	font-family: 'Amatic SC',serif;
	font-weight: bold;
	font-size: 3em;
	text-align: center
}


h3{
	font-family: 'Amatic SC',serif;
	font-weight: bold;
	font-size: 2em
}


p{
	font-family: 'Amatic SC',serif;
	font-weight: normal;
	font-size: 2em;
	text-align: center;
	letter-spacing: 2px
}

#two_column {
	border: 1px;
	padding: 20px
}

#left{
	border: 1px ;
	padding: 20px;
	float: left;
	width: 30%
}

#right{
	border: 1px;
	padding: 20px;
	float: right;
	width: 30%
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

#left-title {
	float: left;
}

#right-title {
	float: right;
}

header{
	font-family: 'Amatic SC',serif;
	font-weight: normal;
	font-size: 2em;
	background-color: #E5E5E5;
	border: 1px ;
	padding: 20px
}

li{
	font-family: 'Amatic SC',serif;
	font-weight: normal;
	font-size: 2em;
	text-align: left
	}

 footer {
 	font-family: 'Amatic SC',serif;
	font-weight: normal;
	font-size: 1.5em;
	text-align: center;
 	clear: both;
 	background-color: #E5E5E5;
 	border: 1px ;
 	padding: 20px
 }
 
 nav {
 	font-family: 'Amatic SC',serif;
 	text-align: center;
 	background-color: #E5E5E5;
 	font-size: 1.5em;
 	color: #151313;
 	padding: 20px;
 	float: center
 }
 
  footer p {
 	font-size: 1em;
 	font-weight: bold
 }

 section figcaption {
 	font-size: 1.5em
 }
 

 figcaption{
	font-family: 'Amatic SC', serif;
	font-weight: normal;
	font-size: 2em
	float: left;
	margin: 25px 50px;
	padding: 10px
	/*which is correct*/